@import 'utilities/utils.scss';

.center {
  display: flex;
  justify-content: center;
  .center-text {
    top: 35%;
    position: absolute;
    width: 900px;
    .center-text-tag {
      font-size: 25px;
      font-weight: $font-semi;
      color: grey;
      padding: 3px;
      margin-left: 2%;
      margin-bottom: -7%;
    }
    .center-text-title {
      color: $highlight;
      text-align: center;
      font-size: 40px;
      font-weight: $font-semi;
      margin-left: 50px;
      letter-spacing: 5px;
    }
    .center-text-name {
      display: flex;
      justify-content: center;
      color: $white;
      font-weight: $font-heavy;
      text-align: center;
      font-size: 90px;
      padding: 3px;
      margin-top: 20px;
    }
    .color-change {
      color: $yellow;
      margin-left: 30px;
    }
    .center-text-sub {
      color: $highlight;
      text-align: center;
      font-size: 50px;
      letter-spacing: 5px;
      font-weight: $font-semi;
      &:nth-child(5) {
        color: green;
      }
    }
    .center-text-tag-end {
      margin-top: -20px;
      font-size: 25px;
      font-weight: $font-semi;
      display: flex;
      justify-content: flex-end;
      color: grey;
    }
  }
}
