@import 'utilities/utils.scss';

.nav {
  position: relative;
  background-color: $background-color;
  li {
    display: inline-block;
    text-decoration: none;
  }
  .nav-bar {
    margin-bottom: 30px;
    .nav-menu-myname{
      margin-top: 30px;
      color: white;
      margin-left: 140px;
      font-size: 35px;
    }
    .nav-menu-logo {
      position: absolute;
      margin-left: 10px;
      .logo {
        width: 120px;
        &:hover {
          width: 130px;
          cursor: pointer;
        }
      }
    }
    
    .nav-menu-buttons {
      display: flex;
      justify-content: flex-end;
      .nav-menu-items {
        margin-top: 12px;
        margin-right: 30px;
        padding: 10px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: $lightblue;
        &::after {
          content: '';
          display: block;
          width: 0;
          margin-top: 2px;
          height: 2px;
          background: $highlightRed;
          transition: width 0.5s;
        }
        &:hover::after {
          width: 100%;
        }
        &::first-letter {
          color: $yellow;
        }
      }
    }
  }
}
