@import 'utilities/utils.scss';

li {
  display: inline;
  text-decoration: none;
}
.fixed-nav-bar {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  .nav-bar {
    position: relative;
    margin-bottom: 20px;
    .nav-menu-myname {
      color: $white;
      font-size: 35px;
      font-weight: $font-thin;
      float: left;
      margin-top: 15px;
      margin-left: 10px;
    }
    .nav-menu-tags {
      color: $highlight;
      padding: 4px;
    }
    .nav-menu-logo {
      float: left;
      .logo {
        position: relative;
        margin-top: -10px;
        width: 120px;
        opacity: 0.3;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .nav-menu-items {
      display: flex;
      align-items: flex-end;
      margin-top: 12px;
      margin-right: 30px;
      font-size: 30px;
      font-weight: $font-thin;
      color: $white !important;
      float: right;
      &:hover {
        color: $yellow !important;
        margin-top: -30px;
        background-color: $blue;
        height: 150px;
        font-weight: $font-heavy;
        .color-brackets {
          margin-bottom: 55%;
          color: $yellow;
        }
        .color-name {
          margin-bottom: 55%;
        }
        .color-brackets-6 {
          margin-bottom: 42%;
          color: $yellow;
        }
        .color-name-6 {
          margin-bottom: 42%;
        }
      }
    }
    .color-brackets {
      color: $highlight;
    }
    .color-selected {
      display: flex;
      align-items: flex-end;
      font-size: 30px;
      font-weight: $font-heavy;
      color: $yellow;
      background-color: $blue;
      height: 150px;
      font-weight: $font-heavy;
      margin-top: -86%;
    }
  }
}
