@import 'utilities/utils.scss';

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
body {
  background-color: $background-color;
}

.landing-page {
  height: 120vh;
}

.projects-landing-page {
  height: 120vh;
  overflow: auto;
  max-height: 70%;
  margin-top: 30px;
}

.section-pages {
  height: 90vh;
}

canvas {
  position: fixed;
  z-index: -2;
}

.highlight-blue {
  color: $lightblue !important;
  font-weight: $font-semi;
}

.word-color {
  color: $white;
}

.section-tags {
  font-size: $desktop-section-size;
  color: $highlight;
  margin-top: 50px;
}

.about-tags {
  font-size: $desktop-section-tags-size;
  color: $highlight;
  font-weight: $font-semi;
  margin: 6px;
}

.main-jobtitle-date {
  margin-left: 8px;
  font-size: $desktop-font-size;
  color: $white;
  font-weight: $font-semi;
  letter-spacing: 2px;
}

.experience-job {
  color: $white;
  font-size: $desktop-experience-size;
}

// scrollbar
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $yellow;
  border-radius: 10px;
}

@media only screen and (max-width: $medium-screen+150) {
  .landing-page {
    height: 200vh;
    width: 100vh;
    margin-left: 50%;
  }
  .projects-landing-page {
    width: 100vh;
  }
}
