// Main colors
$highlight: #fd3a8c;
$lightblue: #00c2cb;
$yellow: #ffe881;
$background-color: #202020;
$blue: #03989e;
$white: white;

// fonts
$font-family: 'Fira Code', monospace;
$font-thin: 300;
$font-semi: 600;
$font-heavy: 700;

// media-queries
