// Main colors
$highlight: #fd3a8c;
$lightblue: #00c2cb;
$yellow: #ffe881;
$background-color: #202020;
$blue: #03989e;
$white: white;
// fonts
$font-family: 'Fira Code', monospace;
$font-thin: 300;
$font-semi: 600;
$font-heavy: 700;

// desktop-fonts
$desktop-section-size: 30px;
$desktop-section-tags-size: 23px;
$desktop-font-size: 25px;
$desktop-experience-size: 23px;

// mobile-fonts
$mobile-section-size: 30px;
$mobile-section-tags-size: 23px;
$mobile-font-size: 25px;
$mobile-experience-size: 23px;
$mobile-tag-size: 15px;


// medium-sized-fonts
$medium-section-size: 23px;
$medium-section-tags-size: 17px;
$medium-font-size: 19px;
$medium-experience-size: 20px;

// media-queries
$small-screen: 300px;
$small-screen-cutoff: 1200px;
$medium-screen: 1050px;
$medium-big-screen: 1450px;
$big-screen: 1800px;


