@import 'utilities/utils.scss';

.about-section-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    'x a a'
    'x b c';
  .about-section-container-text {
    font-size: $desktop-font-size;
    grid-area: a;
  }
  .information-about-section {
    grid-area: b;
  }
  .section-tags {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .experience-job {
    margin-bottom: 50px;
    font-size: $desktop-experience-size;
    margin-top: 5px;
    margin-left: 5px;
  }
  .image-about-section {
    margin-right: 80px;
    margin-top: 30px;
    grid-area: c;
  }
  .image-about-section-mobile {
    display: none;
  }
  .button-mobile-about {
    display: none !important;
  }
  .mobile-view {
    display: none;
  }
}
@media only screen and (max-width: $small-screen-cutoff) {
  .about-section-container {
    display: block;
    .image-about-section img {
      max-width: 100%;
    }
  }
  div.about-section-container-text.word-color.cellphone-font-size {
    font-size: $medium-section-size;
    margin-left: 10px;
  }
  .image-about-section-desktop {
    display: none;
  }
  .experience-job {
    margin-bottom: 10px !important;
  }
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }

  .image-about-section-mobile img {
    display: block !important;
    margin-left: 20px;
    height: 250px !important;
    width: 300px !important;
  }
  .desktop-image {
    display: none;
  }
  .button-desktop-about {
    display: block;
  }
}
