@import 'utilities/utils.scss';

.about-sub-flex {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 10fr 1fr;
  grid-template-areas:
    'a b c d'
    'e e g g';
  @include tablet {
    display: block;
  }

  .knowledge-section {
    grid-area: b;
    margin-left: 75px;
    @include tablet {
      margin-left: 15px;
    }
    @include phone {
      padding-top: 20px;
    }
    @include small-phone {
      padding-top: 10px;
    }
  }
  .skills-section {
    grid-area: c;
    margin-left: 75px;
  }
  .knowledge-section-fields {
    margin-top: 30px;
    grid-area: e;
    @include tablet {
      margin-left: 1%;
      margin-top: 3px;
    }
    @include phone {
      padding-top: 5px;
      .experience-job {
        width: 90%;
        font-size: 24px;
        margin-left: 15px;
      }
    }
    .about-tags {
      @include phone {
        font-size: 15px;
      }
      @include small-phone {
        font-size: 12px;
      }
    }
  }
  .skills-section {
    @include tablet {
      margin-left: 15px;
    }
  }
  .parent-skills {
    display: flex;
    flex-wrap: wrap;
    .parent-skills-flex {
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
      .list-of-skills {
        margin-top: 40px;
        padding: 5px;
        font-size: $desktop-section-tags-size;
        margin-right: 20px;
        flex-grow: 1;
        font-weight: $font-semi;
        width: 100%;
        border-radius: 50px;
        text-align: center;
        flex-basis: 20%;
        @include tablet {
          flex-basis: 14%;
          font-size: 16px;
          margin-right: 15px;
          margin-top: 8px;
        }
        @include phone {
          margin-right: 5px;
          margin-top: 10px;
          flex-basis: 25%;
          &:nth-child(1n) {
            background-color: $yellow !important;
          }
          &:nth-child(2n) {
            background-color: $highlight !important;
          }
          &:nth-child(6n) {
            background-color: $white !important;
          }
          &:nth-child(5n) {
            background-color: $lightblue !important;
          }
        }
        @include small-phone {
          flex-basis: 25%;
          font-size: 14px !important;
        }

        &:nth-child(1n) {
          background-color: $yellow;
        }
        &:nth-child(2n) {
          background-color: $highlight;
        }
        &:nth-child(3n) {
          background-color: $white;
        }
        &:nth-child(5n) {
          background-color: $lightblue;
        }
      }
    }
  }
}
