@import 'utilities/utils.scss';

.about-section-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    'x a a'
    'x b c';
  @include tablet {
    display: block;
  }
  .about-section-container-text {
    font-size: $desktop-font-size;
    grid-area: a;
    @include phone {
      font-size: 16px !important;
      width: 90%;
      text-align: left;
    }
    @include tablet {
      font-size: 23px;
    }
    @include small-phone {
      font-size: 12px !important;
    }
  }
  .information-about-section {
    grid-area: b;
  }
  .section-tags {
    margin-top: 40px;
    margin-bottom: 40px;
    @include tablet {
      font-size: 34px !important;
    }
    @include small-phone {
      font-size: 18px !important;
      margin-top: 10px !important;
    }
  }
  .section-tags-mobile {
    @include tablet {
      margin-top: 25px;
      font-size: 20px;
    }
    @include phone {
      font-size: 20px;
    }
    @include small-phone {
      margin-left: 5px;
    }

    .main-jobtitle-date {
      @include tablet {
        font-size: 23px;
        letter-spacing: 1px;
      }
      @include phone {
        font-size: 14px;
        letter-spacing: 1px;
      }
      @include small-phone {
        font-size: 12px !important;
      }
    }
  }
  .experience-job {
    font-size: $desktop-experience-size;
    margin: 3%;
    margin-bottom: 30px;
    margin-left: 5px;
    @include tablet {
      font-size: 18px;
    }
    @include phone {
      width: 94%;
      font-size: 12px;
    }
    @include small-phone {
      font-size: 10px !important;
      margin-top: 5px;
    }
  }
  .image-about-section {
    grid-area: c;
    margin-top: -20%;
    margin-left: -5%;
    z-index: -3;
    img {
      @include tablet {
        margin-top: 10%;
        margin-left: 3%;
        max-width: 50%;
      }
      @include phone {
        padding-top: 5%;
        max-width: 80%;
      }
      @include small-phone {
        padding-top: 5%;
        max-width: 70%;
      }
    }
  }
  .mobile-view {
    display: none;
    @include tablet {
      display: block !important;
    }
  }
}
.btn-about-sub {
  @include phone {
    display: flex !important;
    color: black !important;
    justify-content: center !important;
  }
}
@include tablet {
  div.about-section-container-text.word-color.cellphone-font-size {
    margin-left: 10px;
    padding-top: 10%;
  }
  .desktop-view {
    display: none !important;
  }
  .desktop-image {
    display: none;
  }
}
