@import 'utilities/utils.scss';

.about-section-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    'x a a'
    'x b c';
  .about-section-container-text {
    font-size: $desktop-font-size;
    grid-area: a;
  }
  .information-about-section {
    grid-area: b;
  }
  .section-tags {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .experience-job {
    margin-bottom: 50px;
    font-size: $desktop-experience-size;
    margin-top: 5px;
    margin-left: 5px;
  }
  .image-about-section {
    margin-right: 80px;
    margin-top: 30px;
    grid-area: c;
  }
  .image-about-section-mobile {
    display: none;
  }
  .button-mobile-about {
    display: none !important;
  }
  .mobile-view {
    display: none;
  }
}
@media only screen and (max-width: $small-screen-cutoff) {
  .about-section-container {
    display: block;
    .image-about-section img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  div.about-section-container-text.word-color.cellphone-font-size {
    font-size: $medium-section-size;
    margin-left: 10px;
    padding-top: 10%;
  }
  .image-about-section-desktop {
    display: none;
  }
  .experience-job {
    margin-bottom: 10px !important;
  }
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }

  .image-about-section-mobile img {
    display: flex !important;
    justify-content: center !important;
    height: 250px !important;
    width: 100% !important;
  }
  .desktop-image {
    display: none;
  }
  .button-desktop-about {
    display: block;
  }
}

@media screen and (max-height: 700px) {
  .about-section-container-text {
    font-size: 11px !important;
  }
  .cellphone-font-size {
    font-size: 13px !important;
  }
  .section-tags-mobile {
    margin-top: 25px !important;
    font-size: 16px !important;
    .main-jobtitle-date {
      font-size: 11px !important;
      letter-spacing: 1px;
    }
  }
  .about-tags {
    font-size: 13px !important;
  }
  .image-about-section {
    text-align: center !important;
  }
  .experience-job {
    font-size: 12px !important;
  }
  .about-section-container .image-about-section {
    width: 70% !important;
    height: 70% !important;
    margin: 0 auto !important;
  }
  div.center-text-mobile-header {
    font-size: 40px !important;
  }
  div.center-text-mobile-name {
    margin-top: 15px !important;
    font-size: 40px !important;
  }
  .center-text-title {
    font-size: 17px !important;
  }
  .center-text-sub {
    font-size: 17px !important;
  }
}
