@import 'utilities/utils.scss';

.button-style {
  background-color: $lightblue;
  border-radius: 50px;
  text-align: center;
  width: 200px;
  color: $white;
  &:hover {
    background-color: $white;
  }
}
a {
  color: $background-color;
  text-decoration: none;
  text-align: center;
  font-size: 22px !important;
  font-weight: $font-semi;
  &:hover {
    color: $highlight;
  }
}
@media only screen and (max-width: $small-screen-cutoff) {
  
}

@media only screen and (max-width: $phone-screen-size) {
  .button-centeralize {
    width: 120px;
    margin: 0 auto;
  }
  .button-style {
    margin-top: 15px;
    width: 100%;
    a {
      font-size: $mobile-font-size;
    }
  }
}
