@import 'utilities/utils.scss';

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounceUp {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(15px);
  }
}

.main-style {
  position: fixed;
  z-index: 5;
  width: 100%;
  text-align: center;
  top: 89%;
  .arrow {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: solid $blue;
    border-width: 0 5px 5px 0;
    padding: 3px;
  }
  .arrow-down {
    transform: rotate(45deg);
  }
}

.main-styleUp {
  position: fixed;
  z-index: 5;
  width: 100%;
  text-align: center;
  top: 15%;
  z-index: 5;
  .arrow {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: solid $blue;
    border-width: 0px 5px 5px 0px;
    padding: 3px;
  }
  .arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

.bounceUp {
  -moz-animation: bounceUp 3s infinite;
  -webkit-animation: bounceUp 3s infinite;
  animation: bounceUp 3s infinite;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
