@import 'utilities/utils.scss';

.display-captcha {
  margin-top: 20px;
}
input[type='text'] {
  padding: 10px 10px;
  padding-top: -20px;
  font-size: 19px;
}
.alert-message {
  color: $white;
  font-size: 20px;
  font-weight: $font-semi;
  background-color: $highlight;
  width: 80%;
  text-align: center;
  border-radius: 50px;
}
.email-sent {
  font-size: 20px;
  border-radius: 50px;
  color: $white;
  background-color: $lightblue;
  text-align: center;
  margin: 0 auto;
  width: 40%;
}
.authenticated-message {
  color: $white;
  font-size: 20px;
  background-color: $lightblue;
  border-radius: 50px;
  padding: 5px;
}
input[type='email'] {
  font-size: 19px;
  padding: 10px 10px;
}
.form-container {
  .field {
    border: 0px;
    border-radius: 20px;
    width: 80%;
    margin-top: 3%;
  }
  .lost-focus {
    border: 2px solid $highlight;
  }
  .field-area {
    height: 100px;
    padding: 8px;
    font-size: 19px;
  }
  ::content {
    color: blue;
  }
  ::placeholder {
    padding: 15px;
    font-size: $medium-font-size;
    color: grey;
  }
  .button {
    width: 20%;
    background-color: $lightblue;
    border-radius: 50px;
    color: $white;
    font-weight: $font-semi;
    height: 40px;
    font-size: 19px;
    border: 0px;
    &:hover {
      background-color: #059097;
    }
  }
  .button-field {
    margin-right: 10%;
    margin-top: 3%;
  }
}

@media only screen and (max-width: $small-screen-cutoff) {
  .display-captcha {
    display: flex;
    justify-content: center;
  }
  .alert-message {
    margin: 0 auto;
  }

  input[type='email'] {
    font-size: 19px;
    padding: 10px 10px;
  }
  .form-container {
    text-align: center;
    .field {
      width: 70%;
    }
    .button-field {
      float: right;
      margin-right: 15%;
    }
  }
}
