@import 'utilities/utils.scss';

.mobile-header {
  display: none;
}
.center {
  justify-content: center;
  display: flex;
  .center-text {
    align-items: center;
    margin-top: 25%;
    margin-bottom: 25%;
    .center-text-full-mobile-header {
      display: none;
    }
    .center-text-tag {
      font-size: 25px;
      font-weight: $font-semi;
      color: grey;
      padding: 3px;
      margin-left: 2%;
      margin-bottom: -7%;
    }
    .center-text-title {
      color: $highlight;
      text-align: center;
      font-size: 40px;
      font-weight: $font-semi;
      margin-left: 50px;
      letter-spacing: 5px;
    }
    .center-text-social-media{
      display: none;
    }
    .center-text-name {
      display: flex;
      justify-content: center;
      color: $white;
      font-weight: $font-heavy;
      text-align: center;
      font-size: 90px;
      padding: 3px;
      margin-top: 20px;
      &:nth-child(5) {
        color: $yellow;
        margin-left: 25px;
      }
    }
    .color-change {
      color: $yellow;
      margin-left: 30px;
    }
    .center-text-sub {
      color: $highlight;
      text-align: center;
      font-size: 50px;
      letter-spacing: 5px;
      font-weight: $font-semi;
      &:nth-child(5) {
        color: green;
      }
    }
    .center-text-tag-end {
      margin-top: -20px;
      font-size: 25px;
      font-weight: $font-semi;
      display: flex;
      justify-content: flex-end;
      color: grey;
    }
  }
}

@media only screen and (max-width: $small-screen-cutoff) {
  .mobile-header {
    display: block;
  }
  .center {
    .center-text {
      .center-text-container {
        .center-text-full-mobile-header {
          display: inline-block;
        }
      }
      .center-text-social-media{
        display: flex;
        justify-content: center;
        img{
          height: 50px;
          width: 50px;
        }
      }
      .center-text-title {
        font-size: $mobile-section-size;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      .center-text-tag {
        margin-bottom: -50px;
        margin-left: 30px;
        font-size: $mobile-tag-size;
      }
      .center-text-mobile-header {
        color: $white;
        font-weight: $font-heavy;
        font-size: 70px;
        margin-top: 10px;
        margin-bottom: -20px;
        text-align: center;
      }
      .center-text-mobile-name {
        color: $white;
        font-weight: $font-heavy;
        font-size: 70px;
        text-align: center;
        margin-top: -10px;
        &:nth-child(1) {
          color: $yellow;
        }
      }
      .center-text-mobile {
        display: inline;
        &:nth-child(1) {
          color: $yellow;
        }
      }
      .center-text-name {
        display: none;
      }
      .center-text-sub {
        margin-top: 10px;
        font-size: $mobile-section-size;
        font-weight: $font-heavy;
        margin: 0 auto;
        margin-top: 30px;
      }
      .center-text-tag-end {
        margin-top: 2px;
        margin-top: -10px;
        font-size: $mobile-tag-size;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .center {
    .center-text {
      margin-top: 40%;
    }
    .center-text-tag{
      margin-bottom: -25px !important;
    }
    .center-text-sub{
      margin-top: 2px !important;
    }
    .margin-top-mobile{
      margin-top: 20px !important;
    }
    .center-text-button{
      margin-top: -20px;
      justify-content: center;
      display: flex;
      margin-bottom: 20px;
    }
    .main-style .arrow{
      left: 50%;
    }
  }
  .main-style .arrow{
    margin: 0 auto;
  }
}
