@import 'utilities/utils.scss';

li {
  display: inline;
  text-decoration: none;
}

.background-nav-bar-color {
  // background-color: $background-color;
  height: 130px;
  position: fixed;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(4px) drop-shadow(4px 4px 10px $background-color);
}
.fixed-image-sizing {
  // width: 50px;
  z-index: 2;
  font-size: 24px;
  margin-left: 12px;
  padding: 4px;
  color: $highlight;
  &:hover {
    opacity: 0.5;
  }
}
.fixed-nav-bar {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 40px;
  .nav-bar {
    position: relative;
    margin-bottom: 20px;
    .nav-menu-myname {
      color: $white;
      font-size: 35px;
      font-weight: $font-thin;
      float: left;
      margin-top: 15px;
      margin-left: 10px;
    }
    .nav-menu-tags {
      color: $highlight;
      padding: 4px;
    }
    .nav-menu-logo {
      float: left;
      .logo {
        position: relative;
        margin-top: -10px;
        width: 120px;
        opacity: 1;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
    .nav-menu-items {
      display: flex;
      align-items: flex-end;
      margin-top: 12px;
      margin-right: 30px;
      font-size: 30px;
      font-weight: $font-thin;
      color: $white !important;
      float: right;
      &:hover {
        color: $yellow !important;
        margin-top: -119px;
        cursor: pointer;
        background-color: $blue;
        height: 170px;
        font-weight: $font-heavy;
        .color-brackets {
          color: $yellow;
        }
      }
    }
    .color-brackets {
      color: $highlight;
    }
    .color-selected {
      display: flex;
      align-items: flex-end;
      font-size: 30px;
      font-weight: $font-heavy;
      color: $yellow;
      background-color: $blue;
      height: 150px;
      font-weight: $font-heavy;
      margin-top: -88%;
    }
  }
}
.left-right-fixed {
  z-index: 5;
  position: fixed;
  top: 40%;
  .left-right-social-media {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 4px;
    margin-top: 5px;
    li {
      margin: 5px;
    }
  }
}

.left-right-navigation {
  position: fixed;
  left: 95%;
  top: 40%;
  .left-right-navigation-block {
    display: flex;
    flex-direction: column;
    li {
      margin: 5px;
      padding: 5px;
      .dot {
        height: 15px;
        width: 15px;
        z-index: 999;
        border: 3px solid $lightblue;
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px;
        &:hover {
          cursor: pointer;
        }
      }
      .light-up-dot {
        background-color: $white;
      }
    }
  }
}

@media only screen and (max-width: $small-screen-cutoff) {
  .fixed-nav-bar {
    display: none;
  }
}
