@import 'utilities/utils.scss';

.mobile-header-fixed {
  z-index: 2;
}

@keyframes reveal {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media only screen and (max-width: $small-screen-cutoff) {
  .mobile-header-fixed {
    max-width: $small-screen-cutoff;
    margin-left: 5%;
    position: fixed;
    width: 95%;
    top: 5%;
    .navigation {
      margin: 0 auto;
      display: flex;
      color: $white;
      .navigation-mobile-name {
        display: inline-block;
        color: $white;
        margin-left: 2%;
        font-size: $medium-section-size;
        margin-top: 3%;
      }
      .mobile-tag-color {
        color: $highlight;
      }
      img {
        height: 80px;
        width: 80px;
      }
      .burger-nav {
        &:hover {
          cursor: pointer;
          font-size: 3px;
        }
      }
      .hamburger-nav {
        z-index: 3;
        position: absolute;
        margin-top: 3%;
        height: 2px;
        width: 30px;
        border-radius: 2px;
      }
      .nav1 {
        border: 3px solid $lightblue;
        top: -2px;
        left: 90%;
      }
      .nav2 {
        border: 3px solid $highlight;
        top: 6.9px;
        left: 90%;
      }
      .nav3 {
        border: 3px solid $lightblue;
        top: 16px;
        left: 90%;
      }
    }
  }
  .side-menu-appear {
    animation: reveal 0.4s backwards;
  }
  .side-menu-disappear {
    animation: disappear 0.4s backwards;
  }
  .side-menu {
    // display: flex;
    height: 500px;
    width: 79%;
    top: -45%;
    right: 0;
    bottom: 0;
    background-color: $background-color;
    z-index: 2;
    position: absolute;
    box-shadow: 4px 2px 6px 6px;
    div {
      img {
        height: 80px;
        width: 80px;
        position: absolute;
        right: 30%;
        top: 2%;
      }
    }
    .x-icon {
      color: $lightblue;
      font-size: 30px;
      position: absolute;
      left: 8%;
      top: 4%;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
    .side-menu-header {
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-around;
    }
    .side-menu-links {
      position: relative;
      right: 30%;
      color: $white;
      font-size: 26px;
      top: 20%;
      margin-top: 30px;
      .side-menu-items {
        .side-menu-margins {
          position: relative;
          left: 25%;
          text-align: center;
          border-radius: 50px;
          margin-top: 40px;
          &:hover {
            left: 35%;
            background-color: $lightblue;
            width: 80%;
            color: $yellow;
            cursor: pointer;
            font-weight: $font-heavy;
            .color-brackets {
              color: $yellow !important;
            }
          }
        }
        .color-brackets {
          color: $highlight;
        }
      }
    }
    .social-media-links {
      position: absolute;
      top: 80%;
      width: 90%;
      text-align: center;
    }
  }
}
@media only screen and (max-width: $small-screen-cutoff) {
  .side-menu {
    top: -79% !important;
  }
  .social-media-img {
    height: 40px !important;
    width: 40px !important;
  }
  .side-menu-mobile-name {
    margin-top: -30px;
    font-size: $mobile-section-size;
    color: $white;
  }
  .side-menu-tag-color {
    color: $highlight;
  }
  .side-menu-header {
    img {
      height: 80px !important;
      width: 80px !important;
      margin-top: 30px;
    }
  }
  .x-icon {
    margin-top: 30px;
  }
}

@media only screen and (max-width: $phone-screen-size) {
  .navigation-mobile-name {
    font-size: $mobile-font-size !important;
  }
  .navigation div {
    img {
      height: 50px !important;
      width: 50px !important;
      margin-top: -10px;
    }
  }
  .nav1 {
    left: 80% !important;
  }
  .nav2 {
    left: 80% !important;
  }
  .nav3 {
    left: 80% !important;
  }
  .side-menu {
    top: -79% !important;
  }
  .x-icon {
    margin-top: 15px;
  }
  .side-menu-header {
    img {
      height: 50px !important;
      width: 50px !important;
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .navigation-mobile-name {
    font-size: $mobile-tag-size !important;
  }
  img .social-media-img {
    height: 50px !important;
    width: 50px !important;
  }
  .side-menu-mobile-name {
    color: $white;
    font-size: $mobile-font-size;
  }
  .side-menu-tag-color {
    color: $highlight;
  }
}
