@import 'utilities/utils.scss';

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
body {
  background-color: $background-color;
}

.landing-page {
  height: 100vh;
}

.projects-landing-page {
  height: 100vh;
  overflow: auto;
  max-height: 70%;
  margin-top: 30px;
}

.landing-page-section {
  margin-top: 30%;
}
.landing-page-section-sub {
  margin-top: 30vh;
}
.section-pages {
  height: 90vh;
}

.ReactModal__Overlay {
  z-index: 2;
  background-color: rgba(34, 34, 34, 0) !important;
  transform: translatey(200px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(34, 34, 34, 0.521) !important;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  background-color: rgba(34, 34, 34, 0) !important;
  transform: translateX(-100px);
}

canvas {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -2;
}

.highlight-blue {
  color: $lightblue !important;
  font-weight: $font-semi;
}

.word-color {
  color: $white;
}

.section-tags {
  font-size: $desktop-section-size;
  color: $highlight;
  margin-top: 50px;
}

.about-tags {
  font-size: $desktop-section-tags-size;
  color: $highlight;
  font-weight: $font-semi;
  margin: 6px;
}

.main-jobtitle-date {
  margin-left: 8px;
  font-size: $desktop-font-size;
  color: $white;
  font-weight: $font-semi;
  letter-spacing: 2px;
}

.experience-job {
  color: $white;
  font-size: $desktop-experience-size;
}

// scrollbar
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $yellow;
  border-radius: 10px;
}

@media only screen and (max-width: $medium-screen+150) {
  .landing-page {
    height: 100vh;
    width: 100vh;
  }
  .projects-landing-page {
    width: 100vh;
  }
}

@media only screen and (max-width: $small-screen-cutoff) {
  .landing-page {
    height: 100vh;
    width: 100vw;
  }
  .margin-left-phone{
    margin-left: 10px !important; 
  }
  .projects-landing-page {
    width: 100vh;
  }
  .left-right-fixed {
    display: none;
  }
  .right-fixed-navigation {
    display: none;
  }
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
  .background-nav-bar-color {
    display: none;
  }
}

@media only screen and (max-width: $phone-screen-size) {
  .cellphone-font-size {
    font-size: $mobile-font-size !important;
  }
  .margin-left-phone{
    margin-left: 3px !important; 
  }
  
  .section-tags-mobile {
    margin-top: 25px !important;
    font-size: 25px;
    margin-bottom: 6px !important;
  }
}
