@import 'utilities/utils.scss';

@media only screen and (min-width: $medium-screen+1) {
  .vertical-project-list {
    display: none !important;
  }
}
.vertical-project-list {
  margin-top: 5%;
  display: block;
  .vertical-line {
    margin: 0 auto;
    width: 0px;
    border: 1px solid $white;
    color: white;
    .vertical-line-arrow {
    }
    .mobile-container {
      .mobile-dot {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      .mobile-border {
        position: absolute;
        height: 4px;
      }
      .mobile-image-pos img {
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 5%;
        border-radius: 50%;
      }
      .mobile-title {
        position: absolute;
        max-width: 40%;
        width: 100%;
      }
      .mobile-paragraph {
        position: absolute;
        width: 40%;
      }
      .mobile-arrow {
        position: absolute;
        display: inline-block;
        padding: 5px;
      }
      .arrow-left {
        transform: rotate(135deg);
      }
      .arrow-right {
        transform: rotate(-45deg);
      }
      .color-1 {
        color: $lightblue !important;
        font-weight: $font-heavy;
      }
      .color-2 {
        color: $highlight !important;
        font-weight: $font-heavy;
      }
      .color-3 {
        color: $yellow !important;
        font-weight: $font-heavy;
      }
      // CUSTOMIZE EACH ENTRY
    }
  }
}

@media only screen and (max-width: 1050px /*1050px*/) {
  .vertical-line {
    height: 550px;
  }

  // CUSTOMIZE EACH ENTRY
  .mobile-image {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .mobile-border-1 {
    background-color: $lightblue;
  }
  .mobile-dot-1 {
    background-color: $lightblue;
    margin-top: 5.5%;
    transform: translateX(-55%);
  }
  .mobile-arrow-1 {
    border: solid $lightblue;
    border-width: 0 8px 8px 0;
  }
  .mobile-border-left-1 {
    border: 0.5px solid $blue;
    margin-top: 6.3%;
    transform: translateX(-150%);
    width: 5%;
  }
  .arrow-left-1 {
    left: 46%;
    margin-top: 5.6%;
  }
  .mobile-image-left-1 {
    right: 56%;
    margin-top: 3%;
    background-color: $lightblue;
  }
  .mobile-title-1 {
    margin-left: 4%;
    margin-top: 2%;
    font-size: 20px;
  }
  .mobile-paragraph-1 {
    margin-left: 4%;
    font-size: 20px;
    margin-top: 8%;
  }

  // second
  .mobile-border-2 {
    background-color: $highlight;
  }
  .mobile-dot-2 {
    background-color: $highlight;
    margin-top: 30%;
    transform: translateX(-55%);
  }
  .mobile-arrow-2 {
    border: solid $highlight;
    border-width: 0 8px 8px 0;
  }
  .mobile-border-left-2 {
    border: 0.5px solid $highlight;
    margin-top: 30.7%;
    transform: translateX(60%);
    width: 5%;
  }
  .arrow-left-2 {
    left: 52.4%;
    margin-top: 30.1%;
  }
  .mobile-image-left-2 {
    left: 57%;
    margin-top: 26%;
    background-color: $highlight;
  }
  .mobile-title-2 {
    margin-left: -40%;
    margin-top: 23%;
    font-size: 20px;
  }
  .mobile-paragraph-2 {
    margin-left: -40%;
    margin-top: 29%;
    font-size: 20px;
  }

  // THIRD
  .mobile-border-3 {
    background-color: $yellow;
  }
  .mobile-dot-3 {
    background-color: $yellow;
    margin-top: 50.5%;
    transform: translateX(-55%);
  }
  .mobile-arrow-3 {
    border: solid $yellow;
    border-width: 0 8px 8px 0;
  }
  .mobile-border-left-3 {
    border: 0.5px solid $yellow;
    margin-top: 51.5%;
    transform: translateX(-174%);
    width: 5%;
  }
  .arrow-left-3 {
    left: 45%;
    margin-top: 50.8%;
  }
  .mobile-image-left-3 {
    right: 59%;
    margin-top: 47%;
    background-color: $yellow;
  }
  .mobile-title-3 {
    margin-left: 4%;
    margin-top: 50%;
  }
  .mobile-paragraph-3 {
    margin-left: 4%;
    margin-top: 57%;
  }
}

@media only screen and (max-width: $phone-screen-size) {
  // CUSTOMIZE EACH ENTRY
  .vertical-line {
    height: 600px;
  }
  .mobile-image {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .mobile-border-1 {
    background-color: $lightblue;
  }
  .mobile-dot-1 {
    background-color: $lightblue;
    margin-top: 12.5%;
    transform: translateX(-55%);
  }
  .mobile-arrow-1 {
    border: solid $lightblue;
    border-width: 0 8px 8px 0;
  }
  .mobile-border-left-1 {
    border: 0.5px solid $blue;
    margin-top: 14.5%;
    transform: translateX(-140%);
    width: 15%;
  }
  .arrow-left-1 {
    left: 41%;
    margin-top: 13%;
  }
  .mobile-image-left-1 {
    right: 65%;
    margin-top: 1%;
    background-color: $lightblue;
  }
  .mobile-title-1 {
    margin-left: 4%;
    font-size: 11px;
    margin-top: 5%;
    font-size: 12px;
  }
  .mobile-paragraph-1 {
    margin-left: 4%;
    margin-top: 13%;
    font-size: 11px;
  }

  // second
  .mobile-border-2 {
    background-color: $highlight;
  }
  .mobile-dot-2 {
    background-color: $highlight;
    margin-top: 49%;
    transform: translateX(-55%);
  }
  .mobile-arrow-2 {
    border: solid $highlight;
    border-width: 0 8px 8px 0;
  }
  .mobile-border-left-2 {
    border: 0.5px solid $highlight;
    margin-top: 50.5%;
    transform: translateX(40%);
    width: 15%;
  }
  .arrow-left-2 {
    left: 54%;
    margin-top: 49%;
  }
  .mobile-image-left-2 {
    left: 70%;
    margin-top: 38%;
    background-color: $highlight;
  }
  .mobile-title-2 {
    margin-left: -43%;
    margin-top: 45%;
    font-size: 12px;
  }
  .mobile-paragraph-2 {
    margin-left: -43%;
    margin-top: 53%;
    font-size: 11px;
  }

  // THIRD
  .mobile-border-3 {
    background-color: $yellow;
  }
  .mobile-dot-3 {
    background-color: $yellow;
    margin-top: 90.5%;
    transform: translateX(-55%);
  }
  .mobile-arrow-3 {
    border: solid $yellow;
    border-width: 0 8px 8px 0;
  }
  .mobile-border-left-3 {
    border: 0.5px solid $yellow;
    margin-top: 92.5%;
    transform: translateX(-140%);
    width: 15%;
  }
  .arrow-left-3 {
    left: 41%;
    margin-top: 91%;
  }
  .mobile-image-left-3 {
    right: 65%;
    margin-top: 80%;
    background-color: $yellow;
  }
  .mobile-title-3 {
    margin-left: 4%;
    margin-top: 85%;
    font-size: 11px;
  }
  .mobile-paragraph-3 {
    margin-left: 4%;
    margin-top: 94%;
    font-size: 11px;
  }
}
@media screen and (max-height: 700px) {
  .vertical-line {
    height: 400px;
  }
}
