@import 'utilities/utils.scss';

.modal-header {
  margin-top: 3%;
  color: $background-color;
  .modal-header-title {
    text-align: left;
    color: $lightblue;
    text-transform: uppercase;
    margin: 5%;
  }
  .bracket-carousel {
    color: black;
    letter-spacing: 2px;
    font-size: 28px;
  }
  .modal-header-paragraph {
    margin: 5%;
    text-align: left;
    word-spacing: 4px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .modal-header-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 5%;
    a {
      margin: 15px;
    }
  }
}
.x-icon {
  color: $lightblue;
  font-size: 25px;
  margin-left: 3%;
  margin-top: 3%;
  &:hover {
    cursor: pointer;
  }
}
.carousel .thumb {
  border: 3px solid $blue !important;
}
.thumb.selected {
  border: 3px solid $yellow !important;
}

@media only screen and (max-width: $small-screen-cutoff) {
  .modal-header-carousel {
    width: 50% !important;
  }
  .modal-header-paragraph {
    max-width: 70% !important;
  }
}

@media only screen and (max-width: $phone-screen-size) {
  .modal-header-carousel {
    width: 80% !important;
  }
  .modal-header-paragraph {
    max-width: 100% !important;
  }

  .modal-header-buttons {
    display: inline-block !important;
  }
}
