@import 'utilities/utils.scss';

.mobile-projects-list-item{
  padding: 30px;
  img{    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 200px;
    height: 200px;
    &:hover{
      cursor: zoom-in;
    }
  }
  @include phone{
    padding: 50px;  
  }
}
.modal-header {
  margin-top: 3%;
  color: $background-color;
  .modal-header-title {
    text-align: left;
    color: $lightblue;
    text-transform: uppercase;
    margin: 5%;
  }
  .bracket-carousel {
    color: black;
    letter-spacing: 2px;
    font-size: 28px;
  }
  .modal-header-paragraph {
    margin: 5%;
    text-align: left;
    word-spacing: 4px;
    font-size: 20px;
    margin-bottom: 15px;
    @include tablet {
      font-size: 16px;
    }
  }
  .modal-header-buttons {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    max-width: 600px;
    @include phone {
      display: block;
      width: 100%;
    }
    a {
      margin: 15px;
    }
  }
}
.x-icon {
  color: $lightblue;
  font-size: 25px;
  margin-left: 3%;
  margin-top: 3%;
  width: 30px;
  &:hover {
    cursor: pointer;
    color: $highlight;
  }
}
.carousel .thumb {
  border: 3px solid $blue !important;
}
.thumb.selected {
  border: 3px solid $yellow !important;
}


@media only screen and (max-width: $phone-screen-size) {
  .modal-header-buttons {
    display: inline-block !important;
  }
}
