@import 'utilities/utils.scss';

.projects-title-main {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'a b c d';
  grid-template-columns: 1fr 10fr 10fr 1fr;
  @include phone {
    display: block;
  }
  @include small-phone {
    margin-top: 3%;
  }

  .projects-title {
    grid-area: b;
    width: 100%;
    text-transform: uppercase;
    margin-left: 75px;
    color: $white;
    font-weight: $font-semi;
    font-size: $desktop-section-tags-size;
    @include small-phone {
      font-size: 19px;
    }
  }
}
.project-desktop {
  display: block;
}

.border-leave-to-scroll {
  border: 2px solid $lightblue;
}

.carousel-mobile {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.project-list-margins {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  .project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    @include tablet {
      display: none;
      width: 100%;
      margin-bottom: 10px;
      overflow: hidden;
    }
    .projects-list-item {
      border-radius: 50px;
      margin: 15px;
      max-width: 440px;
      margin-top: 5px;
      flex: 1 0 25%;
      @include tablet {
        flex: 0;
        margin: 0px;
      }
    }
  }
}

.yellow {
  background-color: $yellow;
  height: 100%;
  @include tablet {
    border-radius: 50px;
  }
  .bracket-color {
    color: $highlight;
  }
}

.blue {
  background-color: $lightblue;
  height: 100%;
  @include tablet {
    border-radius: 50px;
  }
  .bracket-color {
    color: $yellow;
  }
}

.pink {
  background-color: $highlight;
  height: 100%;
  @include tablet {
    border-radius: 50px;
  }
  .bracket-color {
    color: $white;
  }
}

.button-project {
  background-color: $background-color;
  border: 0;
  width: 150px;
  border-radius: 30px;
  font-size: $desktop-font-size;
  text-decoration: none;
  color: $white;
  text-align: center;
  &:hover {
    color: $highlight;
  }
}

.projects-list-item-name {
  font-size: $desktop-font-size;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: $font-semi;
  color: $background-color;
  .bracket-format {
    margin-right: 30px;
    font-size: $desktop-font-size;
    font-weight: $font-heavy;
  }
  .projects-list-item-description {
    font-weight: $font-thin;
    font-size: $desktop-section-tags-size;
    width: 90%;
  }
}

.projects-list-item-date {
  display: flex;
  justify-content: space-around;
  $font-weight: $font-thin;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: $desktop-section-tags-size;
  margin-right: 20px;
  div {
    width: 100%;
  }
}
.closing-opening-tags {
  color: $highlight;
  margin-right: 10px;
}

@media only screen and (max-width: $small-screen-cutoff) {
  .carousel-mobile {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .projects-list-item-date {
    div {
      font-size: 27px;
    }
  }
  .project-desktop {
    display: none;
  }

  .projects-list-name-wrapped {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: $font-semi;
  }
  .projects-list-name {
    font-weight: $font-semi;
  }
  li.react-multi-carousel-dot {
    margin-bottom: 20px;
  }
  .project-list-margins {
    width: 90%;
    padding-top: 10%;
    .project-list {
      display: block;
      .projects-list-item-description {
        font-size: 25px;
        width: 70%;
        padding-top: 5%;
        margin: 0 auto;
      }
      .projects-list-item-date {
        margin-bottom: 8%;
        width: 100%;
        text-align: center;
        div {
          width: 100%;
        }
      }
    }
  }
}
.project-button-more {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-height: 700px) {
  .bracket-format {
    font-size: 25px !important;
  }
  .projects-list-item-date {
    div {
      font-size: 17px;
    }
  }
  .project-list-margins {
    width: 100%;
    .project-list {
      .projects-list-item {
        .projects-list-item-description {
          font-size: 15px;
          margin-top: 15px;
        }
      }
    }
  }
}
