@import 'utilities/utils.scss';

@keyframes reveal {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.mobile-header-fixed {
  z-index: 2;
  backdrop-filter: blur(4px) drop-shadow(4px 4px 10px $background-color);
  max-width: $small-screen-cutoff;
  position: fixed;
  width: 100%;
  .navigation {
    margin: 0 auto;
    margin-left: 5%;
    display: flex;
    margin-top: 3%;
    color: $white;
    @include phone {
      div {
        img {
          height: 50px !important;
          width: 50px !important;
          margin-top: -10px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    .navigation-mobile-name {
      display: inline-block;
      color: $white;
      margin-left: 2%;
      font-size: $medium-section-size;
      margin-top: 3%;
      @include phone {
        font-size: 15px;
      }
    }
    .mobile-tag-color {
      color: $highlight;
    }
    img {
      height: 80px;
      width: 80px;
    }
    .burger-nav {
      margin-top: 3% !important;
      &:hover {
        cursor: pointer;
        font-size: 3px;
      }
    }
    .hamburger-nav {
      z-index: 3;
      position: absolute;
      margin-top: 3%;
      height: 2px;
      width: 30px;
      border-radius: 2px;
    }
    .nav1 {
      border: 3px solid $lightblue;
      top: 6px;
      left: 90%;
      @include phone {
        top: 18%;
      }
      @include small-phone {
        left: 88%;
      }
    }
    .nav2 {
      border: 3px solid $highlight;
      top: 15px;
      left: 90%;
      @include phone {
        top: 34%;
      }
      @include small-phone {
        left: 88%;
      }
    }
    .nav3 {
      border: 3px solid $lightblue;
      top: 24px;
      left: 90%;
      @include phone {
        top: 50%;
      }
      @include small-phone {
        left: 88%;
      }
    }
  }
}
.side-menu-appear {
  animation: reveal 0.4s backwards;
}
.side-menu-disappear {
  animation: disappear 0.4s backwards;
}
.side-menu {
  height: 500px;
  width: 79%;
  margin-top: 10.5%;
  left: 25.5%;
  right: 25%;
  bottom: 0;
  background-color: $background-color;
  z-index: 2;
  position: absolute;
  box-shadow: 4px 2px 6px 6px;
  @include tablet {
    top: -85% !important;
    .side-menu-mobile-name {
      margin-top: -30px;
      font-size: $mobile-section-size;
      color: $white;
      .side-menu-tag-color {
        color: $highlight;
      }
    }
  }
  @include phone {
    top: -79% !important;
  }
  @include small-phone {
    .side-menu-mobile-name {
      font-size: 18px;
    }
    svg {
      height: 30px;
    }
  }
  div {
    img {
      height: 80px;
      width: 80px;
      position: absolute;
      right: 30%;
      top: 2%;
      @include tablet {
        margin-top: 2%;
        height: 50px !important;
        width: 50px !important;
      }
    }
  }
  .x-icon {
    color: $lightblue;
    font-size: 30px;
    position: absolute;
    left: 8%;
    top: 2%;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
      color: $highlight;
    }
    @include tablet {
      margin-top: 30px;
    }
    @include phone {
      margin-top: 15px;
    }
  }
  .side-menu-header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
  }
  .side-menu-links {
    display: flex;
    justify-content: center;
    color: $white;
    font-size: 26px;
    margin-right: 15%;
    margin-top: 15%;
    @include tablet {
      margin-top: 10%;
    }
    @include phone {
      margin-top: 25% !important;
    }
    .side-menu-items {
      .side-menu-margins {
        position: relative;
        left: 25%;
        text-align: center;
        border-radius: 50px;
        margin-top: 40px;
        &:hover {
          color: $yellow;
          cursor: pointer;
          font-weight: $font-heavy;
          .color-brackets {
            color: $yellow !important;
          }
        }
      }
      .color-brackets {
        color: $highlight;
      }
    }
  }
  .social-media-links {
    position: absolute;
    top: 80%;
    width: 90%;
    text-align: center;
  }
}
